<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Google Drive App</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body>

    <script src="https://apis.google.com/js/api.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <div ng-app="myApp" ng-controller="myCtrl">
        <div>{{profile.Name}}
            <button ng-click="authClick()">{{Authorized?'SignOut':'Sign In/Authorize'}}</button>
            <button ng-click="revokeAccess()" ng-show="Authorized">Revoke access</button>
        </div>
        <div>{{authStatus}}</div>
        <button ng-click="updateFile()">UpdateFile</button>
        <span>{{message}}</span>
        <ul>
            <li ng-repeat="x in files">{{x.originalFilename}}</li>
        </ul>

    </div>
    <script>
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope, $http) {

            $scope.Authorized = false;

            var GoogleAuth;
            function handleClientLoad() {
                gapi.load('client:auth2', initClient);
            }
            var SCOPE = 'https://www.googleapis.com/auth/drive.file';
            function initClient() {
                var discoveryUrl = 'https://www.googleapis.com/discovery/v1/apis/drive/v3/rest';
                gapi.client.init({
                    'clientId': '239315901615-nl8ieemkd8rbrugo61920jq7chs5f1dg.apps.googleusercontent.com',
                    'discoveryDocs': ['https://www.googleapis.com/discovery/v1/apis/drive/v3/rest'],
                    'scope': SCOPE
                }).then(function () {
                    GoogleAuth = gapi.auth2.getAuthInstance();
                    GoogleAuth.isSignedIn.listen(setSigninStatus);
                    var user = GoogleAuth.currentUser.get();
                    setSigninStatus();
                });
            }

            function handleAuthClick() {
                console.log(GoogleAuth.isSignedIn.get());
                if (GoogleAuth.isSignedIn.get()) {
                    console.log('sign out');
                    GoogleAuth.signOut();
                } else {
                    console.log('sign in');
                    GoogleAuth.signIn();
                }
            }
            $scope.authClick = function () { handleAuthClick(); }

            function revokeAccess() {
                GoogleAuth.disconnect();
            }
            $scope.authStatus = 'You have not authorized this app or you are signed out.';
            $scope.profile = { ID: '', Name: '', GivenName: '', FamilyName: '', EMail: '', ImageUrl: '' }

            function setSigninStatus() {
                console.log('setSigninStatus');
                var user = GoogleAuth.currentUser.get();
                isAuthorized = user.hasGrantedScopes(SCOPE);
                $scope.Authorized = isAuthorized;
                if (isAuthorized) {

                    $scope.authStatus = 'You are currently signed in and have granted access to this app.';

                    var profile = GoogleAuth.currentUser.get().getBasicProfile();

                    $scope.profile = {
                        ID: profile.getId(), Name: profile.getName(), GivenName: profile.getGivenName(),
                        FamilyName: profile.getFamilyName(), EMail: profile.getEmail(), ImageUrl: profile.getImageUrl()
                    }
                } else {
                    $scope.authStatus = 'You have not authorized this app or you are signed out.';
                    $scope.profile = { ID: '', Name: '', GivenName: '', FamilyName: '', EMail: '', ImageUrl: '' }
                }
                $scope.$apply();
            }
            var data = {};
            $scope.init = function () {
                handleClientLoad();
            }
            $scope.refresh = function () { handleClientLoad(); }
            $scope.updateFile=function(){
                
                updateFileContent("1G7mbeNeyEWn1c-hkM3pzJsiM36PLKcpj","Last Updated On ",(res)=>{console.log(res)});
            };
            $scope.listFiles = function () {
                // gapi.client.request({
                //     'path': 'https://www.googleapis.com/drive/v2/files/'// + file.id
                //     ,
                //     'method': 'GET',
                //     callback: function (theResponseJS, theResponseTXT) {
                //         //$('#files').html(theResponseTXT);
                //         $scope.files = theResponseJS.items;
                //         console.log(theResponseTXT);
                //     }
                // });
                // createFileWithJSONContent("f123.txt", "data");
                updateFileContent("1G7mbeNeyEWn1c-hkM3pzJsiM36PLKcpj","askjsdsdjksjdksjdkajksa");
                
                $scope.message = "Loading...";
            }
            var createFileWithJSONContent = function (name, data, callback) {
                const boundary = '-------314159265358979323846';
                const delimiter = "\r\n--" + boundary + "\r\n";
                const close_delim = "\r\n--" + boundary + "--";

                const contentType = 'application/json';

                var metadata = {
                    'name': name,
                    'mimeType': contentType
                };

                var multipartRequestBody =
                    delimiter +
                    'Content-Type: application/json\r\n\r\n' +
                    JSON.stringify(metadata) +
                    delimiter +
                    'Content-Type: ' + contentType + '\r\n\r\n' +
                    data +
                    close_delim;

                var request = gapi.client.request({
                    'path': '/upload/drive/v3/files',
                    'method': 'POST',
                    'params': { 'uploadType': 'multipart' },
                    'headers': {
                        'Content-Type': 'multipart/related; boundary="' + boundary + '"'
                    },
                    'body': multipartRequestBody
                });
                if (!callback) {
                    callback = function (file) {
                        console.log(file)
                    };
                }
                request.execute(callback);
            }
            function updateFileContent(fileId, contentBlob, callback) {
                var xhr = new XMLHttpRequest();
                xhr.responseType = 'json';
                xhr.onreadystatechange = function () {
                    if (xhr.readyState != XMLHttpRequest.DONE) {
                        return;
                    }
                    callback(xhr.response);
                };
                xhr.open('PATCH', 'https://www.googleapis.com/upload/drive/v3/files/' + fileId + '?uploadType=media');
                xhr.setRequestHeader('Authorization', 'Bearer ' + gapi.auth.getToken().access_token);
                xhr.send(contentBlob);
            }
            $scope.init();
        });
    </script>
    </script>

</body>

</html>